<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOUeudt1UxnJ2HHZvQOQ6GwL_hIfN88X8</string>
	<key>GCM_SENDER_ID</key>
	<string>658467762037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mygpt</string>
	<key>PROJECT_ID</key>
	<string>my-gpt-gemini</string>
	<key>STORAGE_BUCKET</key>
	<string>my-gpt-gemini.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658467762037:ios:8c9ae8a9d5e82d168b2d3c</string>
</dict>
</plist>